:root {
    --headnfoot: #A79BAD;
    --headnfootshadow: #867d8a;
    --textdarkbg: #F1F1F0;
    --textlightbg: #282E33;
    --mainbg: #F1F1F0;
    --lighthigh: #807F96;
    --darkhigh: #AF3F55;
}


html {
    font-size: 10px;
}

h1, h2, h3, h4, h5, p, a {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3.4rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2.6rem;
}

h4 {
    font-size: 2.4rem;
}

h5 {
    font-size: 2.2rem;
}

p {
    font-size: 2rem;
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    width: 100vw;
    height: 7.5vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: flex-end;
    background-color: var(--headnfoot);
    color: var(--textlightbg);
    box-shadow: 0px .2rem 4px var(--headnfootshadow);
    z-index: 100;
}

header h1 {
    font-weight: bolder;
    grid-column: 2;
    justify-self: center;
}

nav {
    grid-column: 3;
    margin-right: 6rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav a {
    height: 5rem;
    width: 12rem;
    text-align: center;
    padding-top: .7rem;
    margin-left: 2rem;
    color: var(--textlightbg);
    font-size: 1.8rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 12px;
    border: .3rem solid var(--textlightbg);
}

nav a:hover {
    width: 11.8rem;
    height: 4.8rem;
    background-color: var(--headnfootshadow);
}

main {
    width: 100vw;
    height: 84.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--mainbg);
}

#heading {
    margin-top: .2rem;
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#heading h2 {
    font-weight: bold;
    margin-bottom: 1.5rem;
}

#introContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    gap: 1rem;
    height: 65%;
}

@media (width <= 500px) {
    #introContainer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    height: 65%;
    padding: 1rem;
    background-color: var(--darkhigh);
    color: var(--textdarkbg);
    border-radius: 20px;
    box-shadow: .4rem .4rem 4px #551e29;
}

.intro h3 {
    text-decoration: underline;
}

.intro p {
    width: 60%;
    margin: 1rem 0 1rem 0;
    text-align: center;
}

#modalClickableContainer {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: start;
}

#modalBtn {
    margin-top: 2rem;
    width: 12rem;
    height: 6rem;
    border: none;
    border-radius: 12px;
    background-color: var(--lighthigh);
    box-shadow: .3rem .3rem .5rem rgb(57, 64, 68);
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--textdarkbg);
}

#modalBtn:hover {
    background-color: var(--textdarkbg);
    color: var(--lighthigh);
    border: .2rem solid var(--lighthigh);
    width: 11.8rem;
    height: 5.8rem;
}

#modalBtn:focus {
    outline: none;
}

#modal {
    width: 35%;
    height: 35%;
    border: none;
    border-radius: 18px;
    background-color: var(--lighthigh);
    border: .4rem solid var(--textlightbg);
}

#modal input {
    width: 35%;
    height: 3.5rem;
    border-radius: 12px;
    padding: .5rem;
}

#modal input:focus {
    outline: none;
}

#modal button {
    width: 9rem;
    height: 4rem;
    border-radius: 12px;
    font-size: 1.6rem;
    border: .1rem solid black;
    font-weight: 500;
    box-shadow: .1rem .1rem .3rem black;
}

#modal button:hover {
    font-weight: 300;
    box-shadow: .02rem .02rem .15rem black;
}

#modal button:focus {
    outline: none;
}

#cardInfo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cardInfo * {
    margin: 1rem;
}

#deckContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.flipCard {
    background-color: transparent;
    width: 90%;
    max-width: 500px;
    height: 60%;
    max-height: 300px;
    border: none;
    perspective: 1000px;
    border-radius: 20px;
  }

  #placeholder {
    border: .5rem dashed var(--textlightbg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #placeholder:hover {
    border: .5rem solid var(--textlightbg);
    background-color: var(--darkhigh);
    color: var(--mainbg);
  }

  .flipCardInner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 20px;
  }

  .flipCard:hover .flipCardInner {
    transform: rotateY(180deg);
  }

  .flipCardFront, .flipCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 2rem;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 20px;
  }

  .flipCardFront {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--darkhigh);
    color: var(--textdarkbg);
  }

  .flipCardBack {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--lighthigh);
    color: var(--textlightbg);
    transform: rotateY(180deg);
  }

footer {
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--mainbg);
    color: var(--textlightbg);
}

#githubLink {
    font-size: 2.2rem;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: .5rem;
    color: var(--darkhigh);
    margin-left: .5rem;
}

@media screen and (width <= 500px) {
    html {
        font-size: 5px;
    }

    #heading {
        margin-top: 2rem;
    }

    main {
        height: minmax(fit-content, 100vh);
    }

    #introContainer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin-top: 2rem;
        row-gap: 2rem;
    }

    .intro {
        height: fit-content;
    }

    .intro h3 {
        font-size: 1.8rem;
    }

    .intro p {
        font-size: 1.4rem;
    }

    #modalClickableContainer {
        height: 20%;
        align-items: center;
    }

    #deckContainer {
        grid-template-columns: 1fr;
    }

    #modal {
        width: 80%;
        height: 30%;
    }
}

@media screen and (max-width: 1400px) {
    html {
        font-size: 7px;
    }
}