<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/bootstrap-reboot.css">
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/script.js" defer></script>

    <title>FlashMash</title>

</head>
<body>

    <header>
        <h1>FlashMash</h1>
    </header>
    <div id="flashHeader">
    {% if get_flashed_messages() %}
            <div>
                <h3>{{ get_flashed_messages() | join(" ") }}</h3>
            </div>
    {% endif %}
    </div>

    <main>
        {% block main %}{% endblock %}
        <dialog id="modal">
            <form action="/deck" method="post" id="cardInfo">
                <input name="question" placeholder="Question:" type="text">
                <input name="answer" placeholder="Answer:" type="text">
                <button type="submit">Create</button>
            </form>
        </dialog>
    </main>

    <footer>
        <h3>Built by Justin Farrow | </h3>
        <a href="https://github.com/JAFarrow/hackathonApp"  target="_blank">Source Code</a>
    </footer>

</body>
</html>