<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/bootstrap-reboot.css">
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/script.js" defer></script>

    <title>FlashMash</title>

</head>
<body>

    <header>
        <h1>FlashMash</h1>
        <nav>
            {% if nav == "deck" %}
                <a href="/deck" type="button">My Deck</a>
            {% elif nav == "home" %}
                <a href="/" type="button">Home</a>
            {% endif %}
        </nav>
    </header>

    <main>
        {% block main %}{% endblock %}
        <dialog id="modal">
            <form action="/deck" method="post" id="cardInfo">
                <input id="formQuestion" name="question" placeholder="Question:" type="text">
                <input id="formAnswer" name="answer" placeholder="Answer:" type="text">
                <button id="formSubmit" type="submit">Create</button>
            </form>
        </dialog>
    </main>

    <footer>
        <h3>Built by Justin Farrow | </h3>
        <a id="githubLink" href="https://github.com/JAFarrow/hackathonApp"  target="_blank">Source Code</a>
    </footer>

</body>
</html>